body{
    background:plum;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 500px;
}

nav{
    background: hotpink;
    /* height: 60px; */
    text-align: center;
    font-family: Impact, serif;
}

nav a{
    text-align: center;
    color: white;
    font-size: 1.5em;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}

/* Styles for hero or feature */
.hero{
    background-image: url("img/hair-2537564_1920.jpg");
    height: 400px;
    background-size: cover;
    background-repeat: no-no-repeat;
    background-position: right;
    /* background stuff above */
    /* moving text below */
    position: relative;
}
.hero h2{
    position: absolute;
    bottom: 10%;
    right: 5%;
}
main{
    margin: 20px auto 20px auto;
        /* top right bottom left */
    display: flex;
    flex-wrap: wrap;
}

.flexItem{
  flex-basis: 300px;
  flex-grow: 2;
  margin: 2px;
  background: hotpink;
  padding: 30px;
}


img{
    width: 100%;
    display: block;
    margin: 1% auto;
    border: 0;
}



/* medium size below */
@media screen and (min-width: 700px) {
        .logo{
          /* width: 350px; */
        }
        img{
            width:30%;
            display: inline;
        }

}

/* large screen styles below */
@media screen and (min-width: 1300px){

  img{

  }

}
